.header {
    height: 1080px;
    background-image: url(../images/bg.png);
    margin-top: -21px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #dd5c03;
}

.container {
    width: 73.5%;
    margin: 0 auto;
}

body{
    margin: 0;
}

.menu-container ul li {
   float: left;
    margin-left: 27px;
    list-style: none;
}

.menu-container ul li a{
    text-decoration: none;
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
}

.logo-container {
    width: 48%;
    float: left;
    margin-top: 53px;
}

.menu-container {
    width: 49%;
    float: left;
    margin-top: 43px;
}


.bottom-header h1 {
    padding-top: 286px;
    text-align: center;
    color: #fff;
    font-family: system-ui;
}

.bottom-header p {
    padding-top: 5px;
    text-align: center;
    color: #fff;
    font-family: system-ui;
    width: 38%;
    margin: 0 auto;
    opacity: 0.6;
    line-height: 30px;
}

menu-container ul {
    float: right;
}

.ask-for-price a {
    text-decoration: none;
    color: #d32721;
    background-color: #fff;
    padding: 14px 56px;
    border-radius: 39px;
    font-family: system-ui;
    text-transform: capitalize;
    margin: 0 11px;
}

.watch-video a {
    text-decoration: none;
    color: #ffff;
    background-color: transparent;
    padding: 14px 56px;
    border-radius: 39px;
    font-family: system-ui;
    text-transform: capitalize;
    border: solid #ffffff94 2px;
    margin: 0 11px;
}

.ask-for-price, .watch-video {
    float: left;
}

.button-container {
    width: fit-content;
    margin: 0 auto;
}

.button-container {
    width: fit-content;
    margin: 0 auto;
    margin-top: 66px;
}

.play {
    background-image: url(../images/play.png);
    width: 13px;
    display: inline-block;
    background-repeat: no-repeat;
    margin-right: 6px;
    background-position-y: center;
}

.mouse {
    background-image: url(../images/mouse.png);
    width: 25px;
    height: 43px;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-bottom: 10px;
}

.scroll-down {
    margin-top: 485px;
    text-align: center;
}

.scroll-down a {
    text-decoration: none;
    color: #fff;
    font-family: system-ui;
    font-size: 14px;
    opacity: .4;
    width: fit-content;
    display: inline-block;
}


.drone {
    background-image: url(../images/drone.png);
    height: 100px;
    width: 100%;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
}


.section1{
    height: 603px;
    background-color: #f6f6f6;
}



.box {
    width: 15%;
    margin-top: 54px;
    text-align: center;
    float: left;
    padding: 69px;
}

.drone1 {
    background-image: url(../images/drone1.png);
    height: 100px;
    width: 100%;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
}

.propeller {
    background-image: url(../images/propeller.png);
    height: 100px;
    width: 100%;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
}

.robot {
    background-image: url(../images/robot.png);
    height: 100px;
    width: 100%;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
}

.asp a {
    text-decoration: none;
    background-color: #2c4b9c;
    padding: 15px 45px;
    border-radius: 45px;
    display: inline-block;
    margin-top: 17px;
    color: #ffff;
    font-family: system-ui;
    text-transform: capitalize;
}

.asp {
    text-align: center;
}

.box h3 {
    color: #ca0034;
    margin-top: 5px;
    font-family: system-ui;
}

.box p {
    color: #5e6372;
    margin-top: 5px;
}

.drone3d {
    background-image: url(../images/Drone3d.png);
    height: 488px;
    width: 887px;
    display: inline-block;
    float: right;
    margin-top: -178px;
    background-repeat: no-repeat;
    background-position: right;
}

.section2 {
    height: 682px;
}

.header2 h2 {
    width: 19%;
    padding-top: 51px;
    color: #db4f0d;
    font-family: system-ui;
}

.header2 p {
    color: #5e6372;
    width: 44%;
}

.pargh {
    width: 32%;
}